
  <body>
    <h1>Editing Book</h1>
    <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

<form class="edit_book" id="edit_book_76327" action="/books/76327" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="ScFR+mvVV9ug/Vk12yZAu8mdCHisStHJgpA4UzUdkRiqm2K9965vs+iC0zV5UEnB3AVNKpv6uf3BgTZ7D84mzA==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" value="" name="book[title]" id="book_title" />
  </div>
  <%= f.text_field :title %>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>
  <%= f.text_area :body %>

  <div class="actions">
    <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book" />
  </div>
</form>
<%= f.submit 'Update Book' %>


<a class="show_76327" href="/books/76327">Show</a> |
<a class="back" href="/books">Back</a>
<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", index_book_path(@book.id) %>
  </body>
<% end %>